:root {
    --bg-color:  #ff6f00;
    --font-family: url(digital_display.ttf);
}

body {
   background-color: rgb(62, 62, 133);
   padding: 30px;
}

.calculator {
    margin: 2rem auto;
    width: 400px; 
    height: 600px;
}
.display {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 80px;
    padding-bottom: -40px;
    background: var(--bg-color);
    
    height: 200px;
    /* box-shadow: -0.5rem 1rem 1rem rgba(0, 0, 0, 0.3); */
   
}

.display:after {
    top: -80px;
    position: absolute;
    content: '';
    border-radius: 100%;
    background: var(--bg-color);
    width: 100%;
    height: 170px;
}
.screen {
    text-align: right;
    font-size: 30px;
    position: relative;
    z-index: 1;
    background-color: #dad7d7;
    width: 90%;
    height: 70%;
    font-family: 'Bebas Neue';
    /* box-shadow: -0.5rem 1rem 1rem rgba(0, 0, 0, 0.3); */
}
.expression {
    line-height: 6rem;
   
}
.calc-body{
    background: var(--bg-color);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;  
    box-shadow: -0.5rem 1rem 1rem rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: auto auto;
    height: 400px;
    gap:5px;
}
.numbers {
    display: grid;
    grid-template-columns: repeat(3,auto);
    margin-left: 10px;
    margin-top: 10px; 
    height: 75%;
}
.operands {
    
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-right: 10px;
    margin-top: 10px;
    height: 75%
   
}
button {
    width: auto;
    height: 60px;
    padding: 0;
    margin: 5px;
    font-size: 200%;
    font-family:'Bebas Neue';
    font-weight: 600;
    border-radius: 15px;
    color: #28036d;
    background-color: #dad7d7;
    cursor: pointer;
}

button[data-key="0"] {
    grid-column: span 2;
}